*.iml
/.gradle/
/.gradle-user/
/local.properties
/.idea/
.DS_Store
/build
/app/build/
/.kotlin/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.hprof

# Signing keys
*.jks
*.keystore
*.p12
*.pfx

# Python
__pycache__/
*.pyc
